.field_outer_container {
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #dbdbdb;
    height: fit-content;
    padding: 5px;
}

.input_field {
    position: relative;
    width: 80%;

    border: none;
    outline: none;
    padding-left: 20px;
    margin: 5px 0px 5px 0px;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
}

.field_outer_container:has(input:focus) {
    outline: none;
    border-color: #a63fcb;
}

@media screen and (min-height: 650px) {
    .input_field {
        height: 50%;
    }
}

.input_field:focus {
    outline-color: #a63fcb;
}
